{% extends 'layouts/main.html.twig' %}

{% block title %}Главная страница новостей{% endblock %}

{% block body %}

    {% for article in articles %}
        {{ article.createdAt|date('Y-m-d H:i:s') }} - {{ article.title }}<br>
        {{ article.preview }}<br>
        <a href="{{ path('show_one_article', {id: article.id}) }}">Подробнее</a>
        <hr>
    {% endfor %}

{% endblock %}
